body {
  background-color: #e6f1ff;
}

.layout_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #e6f1ff;
}
.oval-monday {
  width: 225px;
  height: 800px;
  background: #096bff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.oval-tuesday {
  width: 225px;
  height: 800px;
  background: #e55dff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.oval-wednesday {
  width: 225px;
  height: 800px;
  background: #096bff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.oval-thursday {
  width: 225px;
  height: 800px;
  background: #fca602;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.oval-friday {
  width: 225px;
  height: 800px;
  background: #096bff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.newEventCircle {
  width: 199px;
  height: 72px;
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  gap: 1px;
  margin: 10px;
  border-radius: 30px;
}

.newEventDetail {
  color: white;
  font-size: 13 px;
}
