body {
  background-color: #fafafa;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.layout_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#monday {
  width: 225px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-style: solid;
  border-color: #bdbdbd;
  min-height: 800px;
  align-content: flex-start;
}

.oval-tuesday {
  width: 225px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-style: solid;
  border-color: #bdbdbd;
  align-content: flex-start;
}

.oval-wednesday {
  width: 225px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-style: solid;
  border-color: #bdbdbd;
  align-content: flex-start;
}

.oval-thursday {
  width: 225px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-style: solid;
  border-color: #bdbdbd;
  align-content: flex-start;
}

.oval-friday {
  width: 225px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-style: solid;
  border-color: #bdbdbd;
  align-content: flex-start;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: black;
}

h5 {
  font-family: "Poppins", sans-serif;
  color: black;
}

.newEventCircle {
  width: 199px;
  height: 100px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  /* border-style: solid;
  border-color: #096bff;
  border-width: medium; */
  border-top: medium solid #096bff;
}

.newEventDetail {
  color: black;
  /* font-size: 13px; */
  margin-left: 10px;
  margin-right: 10px;
}

.shapesimage {
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  color: black;
  min-height: 104px;
}

.how_to_page {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #0c3557;
}

#navlinks {
  padding-right: 15px;
  gap: 15px;
  display: flex;
  font-family: "Poppins", sans-serif;
}

#logo {
  padding-left: 15px;
}

.video {
  width: 75%;
  height: 75%;
  display: block;
  margin: 15px;
  box-shadow: rgba(0, 74, 116, 0.15) 0px 1px 5px;
  border-radius: 10px;
}
