/* #E6F1FF */
/* #F2F8FF */
/* #FAFAFB */
/* #FCFBFC */
/* #F8F8F8 */

body {
  background-color: #fafafa;
}

.layout_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
.oval-monday {
  width: 225px;
  height: 800px;
  background: #fca602;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0px 12px 32px; */
}

.oval-tuesday {
  width: 225px;
  height: 800px;
  background: #e55dff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 12px 32px;
}

.oval-wednesday {
  width: 225px;
  height: 800px;
  background: #ceed0e;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0px 12px 32px; */
}

.oval-thursday {
  width: 225px;
  height: 800px;
  background: #fca602;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 9px 22px;
}

.oval-friday {
  width: 225px;
  height: 800px;
  background: #e55dff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0px 12px 32px; */
}

h1 {
  font-family: "Poppins", sans-serif;
  color: black;
}

.newEventCircle {
  width: 199px;
  height: 72px;
  background: #096bff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  gap: 1px;
  margin: 10px;
  border-radius: 30px;
}

.newEventDetail {
  color: white;
  font-size: 13 px;
  margin-left: 10px;
  margin-right: 10px;
}

.shapesimage {
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 3%;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 30px;
}

.how_to_page {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
